.dashboard-page-container {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dashboard-page-container .header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 50px;
}

.dashboard-page-container .header img {
    max-width: 100px;
    max-height: 100px;
}

.dashboard-page-container button {
    width: 100%;
}

.camera-property-input {
    display: flex;
    gap: 16px;
}

.camera-property-input select {
    min-width: fit-content;
    max-width: 200px;
    display: flex;
}

.cctvs-container {
    min-height: 324px;
}

.cctvs-container .col {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
}

.camera-info-container {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
}

.camera-info-container svg {
    margin: auto 0;
}