.menuContainer {
    display: flex;
    padding: 2rem;
    align-items: center;
}

.menuItem {
    font-weight: lighter;
    font-size: larger;
    text-decoration: none;
    display: inline-block;
    color: gray;
}

.left .menuItem[data-active='true'], .left .menuItem:hover {
    color: black;
    font-weight: normal;
}

.menuItem + .menuItem {
    margin-left: 1.5rem;
}

.right {
    margin-left: auto;
}

.right .menuItem {
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

.userInfo {
    display: inline-block;
    font-size: 13px;
    padding-right: 1rem;
}

.menuButton {
    border: none;
    background: none;
}