.postButton {
    background: #ececec;
    border: 1px transparent solid;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.postButton:hover {
    border-color: black;
}

.postButton + .postButton {
    margin-left: 1rem;
}