.inputText, .inputTextarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
    border: 0.125rem solid rgba(0, 0, 0, 0.2);
}

.inputSubmit {
    background: #ececec;
    padding: 1rem 2rem;
    border: 1px solid transparent;
}

.inputSubmit:hover {
    border-color: black;
}

.inputSubmit:not([disabled]) {
    cursor: pointer;
}

.back {
    margin-left: 1rem;
    text-decoration: none;
    color: #1a1a1a;
}